footer
	background: $text-grey
	padding: 20px 0
	// position: absolute
	bottom: 0
	width: 100%

	.footer-wrap
		display: flex
		align-items: center

		.logo
			img
				max-width: 40px

		.location 
			display: flex
			align-items: center
			flex: 1

			i
				font-size: 30px
				color: $white
				margin-right: 20px

			p
				color: $white
				margin: 0
				font-size: 16px

		.phone 
			display: flex
			align-items: center
			flex: 1

			i
				font-size: 30px
				color: $white
				margin-right: 20px

			p
				color: $white
				margin: 0
				font-size: 16px

		.social-links
			flex: 1
			display: flex
			justify-content: flex-end

			.social
				display: flex
				align-items: center

				li
					margin-right: 15px

					i
						color: $white
						font-size: 20px

					&:last-child
						margin-right: 0

					a:hover
						i
							color: $main


@media screen and (max-width: 768px)
	footer
		.footer-wrap
			display: block
			text-align: center

			.location
				margin-bottom: 10px

			.phone

			.social-links
				display: none
				.social
					margin: 0
					margin-top: 10px
					justify-content: center
					width: 100%
					margin-right: 15px
					float: initial

					&:last-child
						margin-right: 0

@media screen and (min-width: 769px) and (max-width:992px)
	footer
		.footer-wrap
			.links
				display: none
