form
	padding: 35px 0

	&.white
		input, textarea
			border-color: $white
			color: $white
			background: none

			&::placeholder
				color: $white

	input, textarea, select
		width: 100%
		border: 1px solid $main
		border-radius: 3px
		font-size: 18px
		color: $main
		padding: 6px 12px
		margin-bottom: 20px
		box-sizing: border-box
		font-family: 'Roboto', sans-serif

		option
			width: 100%

		&::placeholder
			color: $main

		&[type="radio"], &[type="checkbox"]
			width: 13px
			margin: 0
			margin-right: 10px
			margin-bottom: 20px

	label
		display: block
		margin-bottom: 10px

	.form-group
		display: flex

		.form-item
			flex: 1
			padding-right: 25px

			&:last-child
				padding-right: 0;

			&.flex-two
				flex: 2
				
			&.flex-three
				flex: 3
				
			&.flex-four
				flex: 4

			.radio, .checkbox
				margin-right: 15px

@media screen and (max-width: 768px)
	form
		.form-group
			flex-direction: column

			.form-item
				padding-right: 0
