.template-services-yes, .template-services-no
	.header .navigation .mobile .services-only
		display: initial
		margin-right: 18px

.header 
	// background-color: rgb(226, 237, 246)
	position: fixed
	width: 100%
	z-index: 2
	top: 0
	background: $main

	.navigation
		padding: 15px 0
		display: flex
		align-items: center
		justify-content: space-between

		.logo
			a
				display: flex
				align-items: center

				img
					max-width: 50px

					&.mobile-only
						width: 40px
				span
					font-family: 'Roboto Slab', serif
					color: $alt
					font-size: 18px
					margin-left: 15px

		.links
			display: flex

			li
				margin-right: 40px
				position: relative

				&:last-child
					margin-right: 0

				a
					color: $alt
					font-size: 20px
					font-family: "Raleway", sans-serif

					&:hover
						color: $white

		.mobile
			i
				color: $alt

@media screen and (max-width: 768px)
	.header
		.navigation
			padding: 6px 0

			.logo
				a img
					max-width: 40px
			
@media screen and (min-width: 769px) and (max-width:992px)
	.header
		.navigation
			padding: 6px 0