.template-about
	.section-mission
		margin-top: 30px

	.section-client
		margin-top: 20px
		margin-bottom: 20px

		.client-items
			padding: 20px 0
			display: flex
			// flex-direction: column
			align-items: center

			.client-image
				width: 35%

				img
					width: 100%

			.client-content
				width: 80%
				padding-left: 20px

	.section-team
		margin-top: 20px

		.team-wrap
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			&::before, &::after
				content: none

			.member
				width: 30%

				img
					width: 100%

				.bigger
					font-weight: bold

@media screen and (max-width: 768px)
	.template-about
		.section-about
			.about-items
				flex-direction: column

				.about-content
					padding-left: 0

		.section-client
			.client-items
				flex-direction: column
				text-align: center

				.client-image
					width: 60%
				.client-content
					width: 100%
					padding-left: 0

		.section-team
			.team-wrap
				flex-direction: column
				justify-content: center

				.member
					width: 100%

@media screen and (min-width: 1600px)
	.template-about
		.section-top
			.image
				height: 650px