.template-home
	.section-services
		.services-list
			li:nth-child(2n)
				margin-left: 3%
				width: 47%
.hero-overlay
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.35)

.hero-gradient
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, $main 0%, $alt 100%)
	opacity: 0.6

.section-hero
	position: relative
	margin-top: 80px
	padding: 80px 0 260px
	background-position: center


	h1, h2
		color: $white
		margin: 0

	p
		color: $white
		margin-top: 5px
		font-size: 18px
	
	.info-wrap
		width: 70%
		min-width: 507px
		max-width: 600px

		h1
			color: $white
			margin: 0

		p
			color: $white
			margin-top: 5px
			font-size: 18px

		.head
			color: $white
			margin-top: 0
			margin-bottom: 15px

	h1
		margin-bottom: 0
		font-size: 25px

.section-services
	margin-bottom: 30px

.services-list
	width: 100%

	li
		width: 50%
		float: left
		font-size: 18px
		margin-bottom: 10px

.section-contact
	margin-bottom: 30px

	form
		padding-top: 0
		text-align: right

.template-home

	.section-hours
		margin-bottom: 30px
		
		.wrapper
			display: flex

			.box-wrap
				box-sizing: border-box
				padding-right: 25px

				&:last-child
					padding-right: 0
					padding-left: 25px

				.box
					background: $lighter-grey
					height: 100%
					box-sizing: border-box

					&.padding
						padding: 0 15px

					h3
						color: $main
						margin-bottom: 0

	.section-insurance
		margin-bottom: 30px

		.insurance-list
			width: 100%

			li
				width: 50%
				float: left
				font-size: 18px
				margin-bottom: 10px

@media screen and (max-width: 768px)
	.section-hero
		margin-top: 52px
		padding: 50px 0 120px
		background-size: cover

		.info-wrap
			min-width: 0
			width: 100%
						
	.section-insurance,.section-services
		.insurance-list, .services-list
		    display: flex
		    flex-wrap: wrap

		    li
		    	font-size: 16px
		    	box-sizing: border-box

		    	&:nth-child(odd)
		    		padding-right: 7px

		    	&:nth-child(even)
		    		padding-left: 7px

	.section-contact
		margin-bottom: 0

		form
			padding-bottom: 20px

	.template-home

		.section-hours
			.wrapper
				flex-direction: column-reverse

				.box-wrap
					padding: 0

					&:last-child
						padding: 0
						margin-bottom: 20px

					&:first-child
						height: 250px