.template-services

	h2
		font-size: 25px

	.section-where
		margin-top: 30px
		margin-bottom: 30px

		.services-list
			margin-top: 50px
			width: 100%

			li
				width: 33%
				float: left
				font-size: 18px
				margin-bottom: 10px
				text-align: center

				img
					width: 80px

	.section-services
		margin-top: 30px

.section-payments, .section-services
	margin-bottom: 30px

	ul
		list-style: disc
		margin-left: 18px
		font-size: 18px

@media screen and (max-width: 768px)
	.template-services
		.section-where
			.services-list
				li
					width: 100%
		.section-services
			.services-list
				li
					width: 100%

				li:nth-child(2n)
					padding-left: 0

