{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.heroImage].url}})">
		<div class="hero-overlay"></div>
		<div class="hero-gradient"></div>
		<div class="wrapper wrapper-sm">
			<div class="info-wrap">
				<h1>{{page.header.Header1}}</h1>
				{% if page.header.Paragraph is not empty %}
					<p>{{page.header.Paragraph}}</p>
				{% endif %}
			</div>
		</div>
	</section>
	<section class="section-mission">
		<div class="wrapper wrapper-sm">
			<h3>{{page.header.MissionTitle}}</h3>
			{% for item in page.header.MissionList %}
				<p>{{item.text}}</p>
			{% endfor %}
		</div>
	</section>
	<section class="section-team">
		<div class="wrapper wrapper-sm">
			<div class="info-wrap">
				<h3 class="head">Our Team</h3>
				<h1>
					{{page.header.infoTitle}}
				</h1>
				<p>
					{{page.header.infoText}}
				</p>
			</div>
			<div class="team-wrap">
				{% for item in page.header.Team %}
					<div class="member">
						{{page.media[item.photo].cropZoom(300,300).html()}}
						<div class="member-info-wrap">
							<p class="name bigger">{{item.name}}</p>
							<p>
								{{item.title}}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="section-client">
		<div class="wrapper wrapper-sm">
			<h3 class="">Our Happy Clients</h3>
			{% for item in page.header.Client %}
				<div class="col full">
					<div class="client-items">
						<div class="client-image">
	 						{{page.media[item.img].html()}}
						</div>
						<div class="client-content">
							<h3>{{item.title}}</h3>
							<p>{{item.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}