{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero" style="background-image: url({{page.media[page.header.heroImage].url}})">
		<div class="hero-overlay"></div>
		<div class="hero-gradient"></div>
		<div class="wrapper wrapper-sm">
			<div class="info-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				{% if page.header.HeroText2 is not empty %}
					<p>{{page.header.HeroText2}}</p>
				{% endif %}
			</div>
		</div>
	</section>
	<section class="section-services">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>Services</h2>
				<ul class="services-list">
				{% for item in page.header.Services %}
					<li>{{item.title}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="section-hours">
		<div class="wrapper wrapper-sm">
			<div class="col one-half sm-full box-wrap">
				<div class="box">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4610.62657629695!2d-80.76680017726693!3d35.20135443554395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885421cd5d6b84fd%3A0xf9212810b751fd2e!2s4921+Albemarle+Rd+%23110%2C+Charlotte%2C+NC+28205%2C+USA!5e0!3m2!1sen!2sbr!4v1489539024710" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col one-half sm-full box-wrap">
				<div class="box padding text-center">
					<h3>Opening Hours</h3>
					<div class="col one-half">
						<p>Monday</p>
						<p>Tuesday</p>
						<p>Wednesday</p>
						<p>Thursday</p>
						<p>Friday</p>
						<p>Saturday</p>
						<p>Sunday</p>
					</div>
					<div class="col one-half">
						<p>10am - 4pm</p>
						<p>10am - 4pm</p>
						<p>10am - 4pm</p>
						<p>10am - 4pm</p>
						<p>10am - 4pm</p>
						<p>On call</p>
						<p>On call</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-insurance">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>Insurance</h2>
				<ul class="insurance-list">
				{% for item in page.header.Insurance %}
					<li>{{item.title}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="section-contact">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>Contact Us</h2>
				<form method="post" action="{{page.header.FormAction}}">
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<input type="text" name="subject" placeholder="Subject">
					<textarea rows="4" placeholder="Message"></textarea>
					<button class="button">Send</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
