{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-jobs">
		<div class="wrapper wrapper-sm">
			<h1 class="title">Job Application</h1>
			<form method="post" action="{{page.header.FormAction}}">
				<h3>Personal Information</h3>
				<div class="form-group">
					<div class="form-item flex-three">
						<label>Last Name</label>
						<input type="text" name="lastName">
					</div>
					<div class="form-item flex-two">
						<label>First Name</label>
						<input type="text" name="firstName">
					</div>
					<div class="form-item">
						<label>M.I.</label>
						<input type="text" name="middleName">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item flex-four">
						<label>Address</label>
						<input type="text" name="address">
					</div>
					<div class="form-item flex-two">
						<label>City</label>
						<input type="text" name="city">
					</div>
					<div class="form-item">
						<label>State</label>
						<input type="text" name="state">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>Email</label>
						<input type="text" name="email">
					</div>
					<div class="form-item">
						<label>Home Phone</label>
						<input type="text" name="homePhone">
					</div>
					<div class="form-item">
						<label>Work Phone</label>
						<input type="text" name="workPhone">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>SSN</label>
						<input type="text" name="email">
					</div>
					<div class="form-item">
						<label>Birthdate</label>
						<input type="text" name="homePhone">
					</div>
				</div>
				<h3>Education</h3>
				<div class="form-group">
					<div class="form-item flex-three">
						<label>Select the highest grade level completed</label>
						<select name="gradeLevel">
							<option>High School</option>
							<option>GED/College</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>Graduate School</option>
						</select>
					</div>
					<div class="form-item">
						<label>Graduate(Y/N)</label>
						<input type="text" name="graduated">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>High School</label>
						<input type="text" name="highSchool">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>College or University</label>
						<input type="text" name="college">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>Graduate or Professional</label>
						<input type="text" name="graduateProfessional">
					</div>
				</div>
				<div class="form-group">
					<div class="form-item flex-three">
						<label>Business or Trade School</label>
						<input type="text" name="businessTrade">
					</div>
				</div>
				<h3>License and Certification</h3>
				<div class="form-group">
					<div class="form-item">
						<label>Employment Interest</label>
						<span class="radio"><input type="radio" name="employmentType" value="PCA">PCA</span>
						<span class="radio"><input type="radio" name="employmentType" value="CNA">CNA</span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>Please check the type of work that you will accept</label>
						<span class="checkbox"><input type="checkbox" name="workType" value="permanentFull">Permanent Full time</span>
						<span class="checkbox"><input type="checkbox" name="workType" value="permanentPart">Permanent Part time</span>
						<span class="checkbox"><input type="checkbox" name="workType" value="temporary">Temporary</span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>Have you ever been convicted of a felony criminal offense?</label>
						<span class="radio"><input type="radio" name="felony" value="yes">Yes</span>
						<span class="radio"><input type="radio" name="felony" value="no">No</span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label>If yes, please explain:</label>
						<textarea rows="4" name="explanation"></textarea>
					</div>
				</div>
				<div class="button-wrap">
					<button class="button">Submit</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
