{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero" style="background-image: url({{page.media[page.header.heroImage].url}})">
		<div class="hero-overlay"></div>
		<div class="hero-gradient"></div>
		<div class="wrapper wrapper-sm">
			<div class="info-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				{% if page.header.HeaderParagraph is not empty %}
					<p>{{page.header.HeaderParagraph}}</p>
				{% endif %}
			</div>
		</div>
	</section>
	<section class="section-services">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<ul class="services-list">
				{% for item in page.header.Services %}
					<li>{{item.title}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>	
	<section class="section-where">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>{{page.header.WhereTitle}}</h2>
				<ul class="services-list">
				{% for item in page.header.Where %}

					<li>
						{{page.media[item.icon].html}}
						<p>{{item.title}}</p>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="section-payments">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>{{page.header.PaymentsTitle}}</h2>
				<ul class="payments-list">
				{% for item in page.header.Payments %}
					<li>
						<p>{{item.title}}</p>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section><section class="section-get_started">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>{{page.header.GetStartedTitle}}</h2>
				<ul class="payments-list">
				{% for item in page.header.paragraphs %}
					<li>
						<p>{{item.text}}</p>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="section-contact">
		<div class="wrapper wrapper-sm">
			<div class="col">
				<h2>Contact Us</h2>
				<form>
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<input type="text" name="subject" placeholder="Subject">
					<textarea rows="4" placeholder="Message"></textarea>
					<button class="button">Send</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}