<footer>
	<div class="wrapper wrapper-sm">
		<div class="col footer-wrap">
			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<p>
					4921 ALBEMARLE ROAD STE <br>
					110 CHARLOTTE, NC 28205
				</p>
			</div>
			<div class="phone">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<p>
					980-236-7443
				</p>
			</div>
			<div class="social-links">
				<ul class="social">
					<li><a target="_blank" href="https://www.facebook.com/SYMCARE2016/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>