{% set p = page.find('/globals')  %}
<header class="header header-default white">
	<div class="wrapper wrapper-sm">
		<nav class="navigation">
			<div class="logo">
				<a href="/">
					<img src="{{url("theme://images/logo.png")}}">
					<span class="desktop-only">SYM HOME CARE AGENCY</span>
				</a>
			</div>
			<nav class="desktop-only">
				<ul class="links">
					<li><a href="/about">About</a></li>
					<li>
						<a href="/services">Services</a>
					</li>
					<li>
						<a href="/jobs">Jobs</a>
					</li>
				</ul>
			</nav>
			<nav class="mobile-only tablet-only">
				<ul class="mobile">
					<li>
						<a class="toggle-btn" data-select=".mobile-panel">
							<i class="fa fa-bars" aria-hidden="true" style="font-size: 25px;"></i>
						</a>
					</li>
				</ul>
			</nav>
		</nav>
	</div>
	{% include 'partials/mobile-panel.html.twig'%}
</header>
