body
	font-family: 'Roboto', sans-serif

p
	margin-bottom: 1em
	color: $text-grey
	transition: all .5s ease
	font-size: 18px

h1,h2,h3,h4,h5
	font-family: 'Raleway', sans-serif

h1
	font-size: 35px

h2
	font-size: 30px

h3
	font-size: 25px

a
	color: $main-black

	&:hover
		color: $alt
		cursor: pointer

.text-shadow 
	text-shadow: 1px 1px 2px #3b4b79

.title
	color: $main-black

	&.post
		color: $white
		margin: 12px 0
		margin-top: 15px
		font-size: 49px
		font-weight: normal
		text-shadow: 2px 2px 40px rgba(52, 62, 71, 0.8)

	&.post-sample
		font-size: 25px
		line-height: 1
		margin-bottom: 15px

.text-center
	text-align: center

.text-left
	text-align: left

@media screen and (max-width: 768px)
	h1
		font-size: 28px
	h2
		font-size: 25px
	h3
		font-size: 22px